{% extends "base.html" %}
{% load static %}

{% block page-title %}Categorias de Produtos - Amazém Macambira{% endblock %}

{% block bodyclass %}profile-page{% endblock %}

<!-- Page Header Content Start -->
{% block page-header %}
  <div class="page-header header-filter caatinga-filter" data-parallax="true" style="background-image: url({% static 'assets/img/macambira-bg-01.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brand">
            <h1>Categorias de Produtos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Page Header Content End -->

<!-- Main Content Start -->
{% block content %}
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Produtos</h2>
        <div class="team">
          <div class="row">
            {% for categoria in categorias %}
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-12 ml-auto mr-auto">
                      <a href="{% url 'category_list' slug=categoria.slug %}">
                        <img src="{% static "assets/img/faces/avatar.jpg" %}" alt="Thumbnail Image" class="img-raised rounded img-fluid">
                      </a>
                    </div>
                    <h4 class="card-title">
                      <a href="{% url 'category_list' slug=categoria.slug %}">{{ categoria.name }}</a>
                      <br>
                      <small class="card-description text-muted"><a href="{% url 'category_list' slug=categoria.slug %}">{{ categoria.description }}</a></small>
                    </h4>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Main Content End -->