.caatinga-filter:after {
  background: rgba(142, 107, 99, 0.64);
  background: linear-gradient(45deg, rgba(142, 108, 128, 0.88) 0%, rgba(185, 16, 66, 0.45) 100%);
  background: -moz-linear-gradient(135deg, rgba(142, 61, 63, 0.88) 0%, rgba(185, 5, 71, 0.45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(142, 74, 59, 0.88) 0%, rgba(185, 9, 8, 0.45) 100%);
}

.team .img-raised:hover {
  box-shadow: 0 15px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  /*-webkit-filter: grayscale(100%);*/
  -webkit-filter: contrast(.7);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}