<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Principal</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
          <span class="copyright">
              © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Mulher Gorila
          </span>
      </div>
    </div>
  </div>
</footer>