{% extends "base_p.html" %}
{% load static %}

{% block page-title %}Amazém Macambira - Produtos da Roça{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="page-header section-dark" style="background-image: url({% static 'assets/img/macambira-bg-01.jpg' %})">
      <div class="filter"></div>
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <h1 class="presentation-title">Macambira</h1>
            <div class="fog-low">
              <img src="{% static 'assets/img/fog-low.png' %}" alt="">
            </div>
            <div class="fog-low right">
              <img src="{% static 'assets/img/fog-low.png' %}" alt="">
            </div>
          </div>

          <h2 class="presentation-subtitle text-center">Produtos da Roça</h2>
          <h2 class="presentation-subtitle text-center"><button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button></h2>

        </div>
      </div>
      <div class="moving-clouds" style="background-image: url({% static 'assets/img/clouds.png' %}); ">

      </div>
      <h6 class="category category-absolute">Empório & Armazém</h6>
    </div>
    <div class="main">
      <div class="section section-buttons">
        <div class="container">
          <div class="tim-title">
            <h2>Produtos</h2>
          </div>
          <div class="row">
              <div class="col-sm-12 col-md-4">
                <h4 style="padding-bottom: 10px;">Produto</h4>
                <img src="{% static 'assets/img/uriel-soberanes.jpg' %}" class="img-rounded img-responsive" alt="Rounded Image">
                <br/>
                <p style="padding: 10px 0;">Descrição produto</p>
                <button type="button" class="btn btn-outline-default btn-round">Detalhes</button>
              </div>
              <div class="col-sm-12 col-md-4">
                <h4 style="padding-bottom: 10px;">Produto</h4>
                <img src="{% static 'assets/img/uriel-soberanes.jpg' %}" class="img-rounded img-responsive" alt="Rounded Image">
                <br/>
                <p style="padding: 10px 0;">Descrição produto</p>
                <button type="button" class="btn btn-outline-default btn-round">Detalhes</button>
              </div>
              <div class="col-sm-12 col-md-4">
                <h4 style="padding-bottom: 10px;">Produto</h4>
                <img src="{% static 'assets/img/uriel-soberanes.jpg' %}" class="img-rounded img-responsive" alt="Rounded Image">
                <br/>
                <p style="padding: 10px 0;">Descrição produto</p>
                <button type="button" class="btn btn-outline-default btn-round">Detalhes</button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Nucleo Icons</h2><br/>
            <p class="description">
              Now UI Kit comes with 100 custom icons made by our friends from NucleoApp. The official package contains
              over 2.100 thin icons which are looking great in combination with Now UI Kit Make sure you check all of
              them
              and use those that you like the most.
            </p><br/>
            <a href="nucleo-icons-demo.html" class="btn btn-danger btn-round" target="_blank">View Demo Icons</a>
            <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View All
              Icons</a>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="icons-container">
              <i class="nc-icon nc-time-alarm"></i>
              <i class="nc-icon nc-atom"></i>
              <i class="nc-icon nc-camera-compact"></i>
              <i class="nc-icon nc-watch-time"></i>
              <i class="nc-icon nc-key-25"></i>
              <i class="nc-icon nc-diamond"></i>
              <i class="nc-icon nc-user-run"></i>
              <i class="nc-icon nc-layout-11"></i>
              <i class="nc-icon nc-badge"></i>
              <i class="nc-icon nc-bulb-63"></i>
              <i class="nc-icon nc-favourite-28"></i>
              <i class="nc-icon nc-planet"></i>
              <i class="nc-icon nc-tie-bow"></i>
              <i class="nc-icon nc-zoom-split"></i>
              <i class="nc-icon nc-cloud-download-93"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Completed with examples</h2>
            <p class="description">The kit comes with three pre-built pages to help you get started faster. You can
              change
              the text and images and you're good to go. More importantly, looking at them will give you a picture of
              what
              you can built with this powerful kit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}