{% extends "base.html" %}
{% load static %}

{% block page-title %}Principal - Amazém Macambira{% endblock %}

<!-- Main Content Start -->
{% block content %}
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Produtos</h2>
        <div class="team">
          <div class="row">
            {% for categoria in categorias %}
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-12 ml-auto mr-auto">
                      <a href="{% url 'category_list' slug=categoria.slug %}">
                        {% if categoria.image %}
                          <img src="{{ categoria.image.url }}" alt="Thumbnail Image" class="img-raised rounded img-fluid">
                        {% else %}
                          <img src="{% static "assets/img/placeholder.jpg" %}" alt="Thumbnail Image" class="img-raised rounded img-fluid">
                        {% endif %}
                      </a>
                    </div>
                    <h4 class="card-title">
                      <a href="{% url 'category_list' slug=categoria.slug %}">{{ categoria.name }}</a>
                      <br>
                      <small class="card-description text-muted">
                        <a href="{% url 'category_list' slug=categoria.slug %}">{{ categoria.description }}</a>
                      </small>
                    </h4>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Fale Conosco</h2>
            <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few
              lines about each one and contact us about any further collaboration. We will responde get back to you in a
              couple of hours.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Main Content End -->