<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Macambira</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
{#        <li class="dropdown nav-item">#}
{#            <a href="#" class="dropdown-toggle nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">#}
{#              Sections#}
{#            </a>#}
{#            <div class="dropdown-menu dropdown-menu-right dropdown-danger" aria-labelledby="navbarDropdownMenuLink">#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#headers" href="./sections.html#headers">#}
{#                <i class="nc-icon nc-tile-56"></i> Headers#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#features" href="./sections.html#features">#}
{#                <i class="nc-icon nc-settings"></i> Features#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#blogs" href="./sections.html#blogs">#}
{#                <i class="nc-icon nc-bullet-list-67"></i> Blogs#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#teams" href="./sections.html#teams">#}
{#                <i class="nc-icon nc-single-02"></i> Teams#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#projects" href="./sections.html#projects">#}
{#                <i class="nc-icon nc-calendar-60"></i> Projects#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#pricing" href="./sections.html#pricing">#}
{#                <i class="nc-icon nc-money-coins"></i> Pricing#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#testimonials" href="./sections.html#testimonials">#}
{#                <i class="nc-icon nc-badge"></i> Testimonials#}
{#              </a>#}
{#              <a class="dropdown-item" data-scroll="true" data-id="#contact-us" href="./sections.html#contactus">#}
{#                <i class="nc-icon nc-mobile"></i> Contact Us#}
{#              </a>#}
{#            </div>#}
{#          </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"#}
{#             href="#" target="_blank">#}
{#            <i class="fa fa-twitter"></i>#}
{#            <p class="d-lg-none">Twitter</p>#}
{#          </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"#}
{#             href="#" target="_blank">#}
{#            <i class="fa fa-facebook-square"></i>#}
{#            <p class="d-lg-none">Facebook</p>#}
{#          </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"#}
{#             href="#" target="_blank">#}
{#            <i class="fa fa-instagram"></i>#}
{#            <p class="d-lg-none">Instagram</p>#}
{#          </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom"#}
{#             href="#" target="_blank">#}
{#            <i class="fa fa-github"></i>#}
{#            <p class="d-lg-none">GitHub</p>#}
{#          </a>#}
{#        </li>#}
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="nc-icon nc-bank"></i> Principal</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="nc-icon nc-bullet-list-67"></i> Produtos</a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-danger btn-round">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>